<div class="page-header">
  <h1>Interview Overflow</h1>
</div>
<div ng-repeat="question in questions | orderBy: '-(upvotes - downvotes)'" ng-mouseenter="question.hover = true" ng-mouseleave="question.hover = false">
  {{question.upvotes - question.downvotes}}
  <a href="" ng-click="incrementUpvotes(question)"><i class="fa fa-lg fa-thumbs-up" ng-class="getUpvoteColor(question)" ng-mouseenter="question.upvoteHover = true" ng-mouseleave="question.upvoteHover = false"></i></a>
  <a href="" ng-click="incrementDownvotes(question)"><i class="fa fa-lg fa-thumbs-down" ng-class="getDownvoteColor(question)" ng-mouseenter="question.downvoteHover = true" ng-mouseleave="question.downvoteHover = false"></i></a>
  <span style="font-size:20px; margin-left:10px;">
    <a ng-show="question.link" target="_blank" href="{{question.link}}">
      {{question.title}}
    </a>
    <span ng-hide="question.link">
      {{question.title}}
    </span>
    - upvotes: {{question.upvotes}} | downvotes: {{question.downvotes}}
  </span>
  <span ng-show="question.author">
    questioned by <a>{{ question.author.username }}</a> |
  </span>
  <span>
    <a ui-sref="question({ id: question._id })">Answers ({{question.answers.length}})</a>
  </span>
  <div class="vertical-align pull-right" ng-show="showDeleteQuestion(question) && question.hover">
    <a href="" ng-click="deleteQuestion(question)">
      <i class="fa fa-lg fa-remove text-danger"></i>
    </a>
  </div>
</div>
<div style="margin-top:30px;">
  <button ng-show="isLoggedIn() && !shouldShowAddNewQuestionForm" ng-click="showAddNewQuestionForm()" class="btn btn-primary">Add Question</button>
  <form ng-show="isLoggedIn() && shouldShowAddNewQuestionForm" role="form" ng-submit="addQuestion()">
    <div class="form-group has-feedback">
      <label class="control-label" for="inputTitle">Title</label>
      <input class="form-control" id="inputTitle" placeholder="Title" type="text" ng-model="title">
    </div>
    <div class="form-group has-feedback">
      <label class="control-label" for="inputLink">Link</label>
      <input class="form-control" id="inputLink" placeholder="Link" type="text" ng-model="link">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-cancel pull-right" ng-click="hideAddNewQuestionForm()">Cancel</button>
  </form>
  <div ng-hide="isLoggedIn()">
    <h3>You need to <a ui-sref="login">Log In</a> or <a ui-sref="register">Register</a> before you can add a question.</h3>
  </div>
</div>
